<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<%= number_to_phone(5555555) %>
<%= number_to_currency(555) %>
<%= number_with_delimiter(5555555) %>
<%= number_to_percentage(55) %>
